@import "tailwindcss";


@font-face {
  font-family: 'kantumbold';
  src: url('/font/KantumBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: 'kantummedium';
  src: url('/font/KantumMedium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; 
}

@font-face {
  font-family: 'kantumregular';
  src: url('/font/KantumRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  @apply bg-[#131313];
}


header{
  font-family: kantumbold;
}

h1{
  font-family: kantumbold;
}

p{
  font-family: kantummedium;
}

h3{
  font-family: kantummedium;
  font-size: 18px;
}
ul{
  font-family: kantummedium;
  font-size: 14px;
}
span{
  font-family: kantumbold;
}

.link > span{
  font-family: kantumregular;

}
.parrafo{
  font-family: kantummedium;
  font-size: 14px;
}

.nav{
  font-size: 18px;
}


/* styles/globals.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


